body {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
}

.register, .login {
    background-color: #27afdb;
    background-color: #0776a2;
    color: white;
    display: inline-block;
    max-width: 340px;
    height: 80%;
    margin: auto;
    padding: 20px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 5px;
}

input[type=text], input[type=email], input[type=password], input[type=datetime-local] {
    width: 100%;
    padding: 5px;
    margin: 5px;
    display: inline-block;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type=submit] {
    display: inline-block;
    background-color: #2b5584;
    border: none;
    padding: 5px;
    margin: 5px;
    width: 50%;
    height: 42px;
    border-radius: 5px;
    font-size: 110%;
    margin-top: 20px;
    color: white;
}


input[type=submit]:hover {
    background-color: #3c6b98;
}

label {
    width: 100%;
    padding: 5px;
    margin: 5px;
    display: inline-block;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-header {
    text-align: center;
}

.form-footer {
    text-align: center;
    color: black;
}

.error {
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    background-color: #f2dede;
    color: #a94442; 
    font-size: 110%;
}



/***Generic stylings**/
.bold {
    font-weight: bold;
}


.button {
    padding: 10px 50px;
    font-size: 16px;
    margin: auto;
    margin-top: 10px;
    transition-duration: 0.4s;
    cursor: pointer;
    position: relative;
    border-radius: 10px;
    background-color: #3c6b98;
    border: 2px solid #2b5584;
    color: black;
    text-decoration: none;
    height:42px;
    width: 210px;
    font-size: 110%;
    color: white;
}

.button:hover {
    background-color: #2b5584;
}

a {
    text-decoration: none;
    color: inherit;
}

/**Start of index styles**/

.main-bg {
    background-image: url('../images/bg-img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
}

.main-content {
    margin-left: 9rem; 
    color: white;
}

.app-header {
    font-size: 60px;
    font-weight: 600;
    letter-spacing: 0.25rem;
}

.right {
    float: right;
    padding-right: 10px;
}

.grey {
    color: #979797;
}

.red {
    color: #a94442; 
}

.bold {
    font-weight: bold;
}

/**Start of main app styles**/

input[type=submit].panel-button {
    width: 110px;
    height: auto;
}

input[type=text].menu-text {
    width: 80%;
}

.app-grid {
    display: grid;
    grid-template-columns: 1fr 4fr 2fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
    bottom: 0;
}


.menu-panel {
    background-color: #3c6b98;
    display: inline-block;
    height: 100vh;
    position: relative;
    margin: 0;
    padding-left: 10px;
    grid-column-start: 1;
    grid-row: 1 / span 2;
    
}

.task-panel {
    grid-column-start: 2;
    padding: 20px;
    grid-row: 1 / span 2;
    overflow: auto;
    box-shadow: 10px 15px 24px -8px rgba(211,211,211,0.75);
    -webkit-box-shadow: 10px 15px 24px -8px rgba(211,211,211,0.75);
    -moz-box-shadow: 10px 15px 24px -8px rgba(211,211,211,0.75);
}

.subtask-panel {
    padding: 20px;
    grid-column-start: 3;
    height: 45vh;
    grid-row: 1 / span 1;
    overflow: auto;
    box-shadow: 10px 15px 24px -8px rgba(211,211,211,0.75);
    -webkit-box-shadow: 10px 15px 24px -8px rgba(211,211,211,0.75);
    -moz-box-shadow: 10px 15px 24px -8px rgba(211,211,211,0.75);
}

.note-panel {
    padding: 20px;
    grid-column-start: 3;
    height: 45vh;
    overflow: auto;
    box-shadow: 10px 15px 24px -8px rgba(211,211,211,0.75);
    -webkit-box-shadow: 10px 15px 24px -8px rgba(211,211,211,0.75);
    -moz-box-shadow: 10px 15px 24px -8px rgba(211,211,211,0.75);
}

.task {
    cursor: pointer;
    padding-bottom: 10px;
}

.project {
    cursor: pointer;
    padding-bottom: 10px;
}


/**Mobile styles**/
@media only screen and (max-width: 960px){
    .app-grid {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4 auto);
    }

    .menu-panel{
        grid-column-start: 1;
        grid-row-start: 1;
        position: static;
    }
    
    .task-panel {
        grid-column-start: 1;
        grid-row-start: 2;
    }

    .subtask-panel {
        grid-column-start: 1;
        grid-row-start: 3;
    }
    
    .note-panel {
        grid-column-start: 1;
        grid-row-start: 4;
    }

    .button {
        display: block;
        height: auto;
        width: 50%;
        text-align: center;
    }

    .register, .login {
        height: 100vh;
        width: auto;
    }
    
}
